<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
    crossorigin="anonymous">
</head>

<body>
<div class="tutor-page">
    <div class="form">
        <div *ngFor="let post of posts">
                <p class="a"><i class="fas fa-phone-square">&nbsp;&nbsp;</i><span class="a2">휴대폰 인증</span>
                    <br />
                    <span class="a3">튜터 신청 아이디 :</span>&nbsp;<span class="a3">{{post.userID}}</span>
                </p>    
        </div>
        <form (submit)="PhoneUser($event)" class="tutor-form">
            <input type="text" placeholder="휴대폰 번호를 입력하세요" id="userPhoneNumber" required />
            <button>휴대폰 인증</button><br /> <br />
            <form (submit)="TwoPhoneUser($event)" id="smssecurity">
                <input type="text" placeholder="인증번호를 입력하세요 입력하세요" id="phonenumberpassword" required />
                <button>인증 확인</button>
            </form>
        </form>
    </div>
</div>

</body>

</html>