@charset 'utf-8';
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR');
* {
  font-family: 'Noto Sans KR', sans-serif;
  user-select: none;
}

.contents{
    padding-top: 50px;
    padding-bottom: 50px;
    cursor: pointer;
}

