
@charset 'utf-8';
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR');
@import url('https://fonts.googleapis.com/earlyaccess/nanumgothic.css');
* {
  box-sizing: border-box;
  font-family: 'Nanum Gothic', sans-serif;
  user-select: none;
}

  .a {
    font-size: 30px;
    color: #FFAAAA;
    font-weight: bold;
  }

.review-page {
    padding-top: 50px;
    padding-bottom: 100px;
    margin: auto;
    border-radius: 5px;
    background-color: #FFFFFF;
    width: 500px;
    text-align: center;
}

input[type=text], select, textarea {
  font-family: 'Nanum Gothic', sans-serif;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #FFAAAA;
    color: white;
    width: 100%;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #FFAAAA;
}

input[type=date] {
    background-color: #FFFFFF;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}


[type=checkbox] {
    display: none;
  }


  
  [type=checkbox]:checked+label {
    color: #FFAAAA;
  }

  
  [type=radio] {
    display: none;
  }
  [type=checkbox] {
    display: none;
  }
  label {
    font-size: 16px;
    border: 1px dashed lightGray;
    padding: .25em 1em;
    border-radius: 4px;
    display: inline-block;
    font-weight: bold;
    margin: 1rem;
  }
  
  [type=radio]:checked+label {
    color: #FFAAAA;
  }
  [type=checkbox]:checked+label {
    color: #FFAAAA;
  }

button {
    font-weight: bold;
    font-family: 'Nanum Gothic', sans-serif;
    text-transform: uppercase;
    outline: 0;
    background:  #FFAAAA;
    width: 30%;
    border: 0;
    padding: 5px;
    color: #FFFFFF;
    font-size: 22px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    border-radius: 5px;
  }
