@charset 'utf-8';
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR');
@import url('http://fonts.googleapis.com/earlyaccess/hanna.css');
* {
  font-family: 'Hanna', serif;
  user-select: none;
}

.contents{
    padding-top: 50px;
    padding-bottom: 50px;
    cursor: pointer;
}

.cont-search{
    padding-top: 50px;
    width: 730px;
    left:0;
    right:0;
    margin-left:auto; 
    margin-right:auto;
}


button {
    border: none;
    margin-left:5px;
    font-family: 'Hanna', serif;
    text-transform: uppercase;
    outline: 0;
    background:  #ffffff;
    width: 105px;
    padding: 3px;
    color: #ccc;
    font-size: 20px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .button2 {
    border: none;
    margin-left:5px;
    font-family: 'Hanna', serif;
    text-transform: uppercase;
    outline: 0;
    background:  #ffffff;
    width: 105px;
    padding: 3px;
    color: #ccc;
    font-size: 20px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    border-radius: 4px;
  }
  
  button:hover, button:active, button:focus {
    text-decoration: underline wavy red;
    margin-left:5px;
    font-family: 'Hanna', serif;
    text-transform: uppercase;
    outline: 0;
    background:  #ffffff;
    width: 105px;
    padding: 5px;
    color:black;
    font-size: 20px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    border-radius: 4px;
  }
  

  .button2:hover, .button2:active, .button2:focus {
    text-decoration: underline wavy red;
    margin-left:5px;
    font-family: 'Hanna', serif;
    text-transform: uppercase;
    outline: 0;
    background:  #ffffff;
    width: 105px;
    padding: 5px;
    color:black;
    font-size: 20px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    border-radius: 4px;
  }
  