<!-- Shift + Alt + F 자동포맷 -->
<!-- 값을 가져오도록 하는 것입니다.-->
<div class="cont-search">
    <button (click)="Programming()" >프로그래밍</button> &nbsp;
    <button (click)="Design()" class="button2">디자인</button> &nbsp;
    <button (click)="Language()">외국어</button> &nbsp;
    <button (click)="Music()" class="button2">음악</button> &nbsp;
    <button (click)="Beauty()">뷰티</button> &nbsp;
    <button (click)="ETC()" class="button2">ETC</button> &nbsp;
    </div>
<div class="contents">
  <div class="container text-center">
    <div class="row">
      <div *ngFor="let class of information; let i = index" (click)="onSelected(class.ClassName)">
        <div class="col-sm-4">
          <img [src]="class.ClassPicture" class="img-responsive" style="width:100%" alt="Image">
          <p style="text-align: left; font-size: 12px; color:gray;"><u>{{class.ClassCategory}}</u></p>
          <h5>{{class.ClassName}}</h5>
          <!-- ClassCurrentPeople 은 입력해주지 않았고, Mongodb 에서 가져오는 값. 되는지 확인! -->
          <p> <span>모집 인원: &nbsp;</span><span>{{class.ClassTotalPeople}}</span>
            <span style="margin-left:15px">수강료: &nbsp;</span><span>{{class.ClassPrice}}</span></p>
        </div>
      </div>
    </div>
  </div>
</div>