<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

  <div class="item_active">
    <div class="hello-content">
      <h1 id="maintitle">
        무엇을<br> 먼저 시작할까?
      </h1>
      <button id="mainbutton" (click)="onGoing()">멘토 찾기</button>
    </div>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
  </div>
  <br />
  <span>
    <div class="item_left">
      <img src="https://d2ljmlcsal6xzo.cloudfront.net/assets/icons/brand_og-ba663d36a81305d2c0ed38e9568b24dcc49ec4d0914eece5c0baa0265815f717.jpg"
       style="width:100%; height:400px;" class="img-responsive" alt="Image">
    </div>
    <div class="item_right">
      <p id="right_title">가치 있는<br> 커리어 경험을 <br> 경험해 보세요</p>
      <div class="item_button"><button id="rightbutton" (click)="onSupport()">멘토 지원하기</button></div>
    </div>
  </span>

  <!--   
  <div class="container text-center">

       <h3 style="font-weight:bold;">Hansung University Wep & App Project Mentoring System</h3><br>
    <br />
    <div class="row">
      <div class="col-sm-4">
        <img src="https://taling.me/Content/Images/Intro/i5.jpg" class="img-responsive" style="width:100%" alt="Image">
      </div>
      <div class="col-sm-4">
        <img src="https://taling.me/Content/Images/Intro/i6.jpg" class="img-responsive" style="width:100%" alt="Image">
      </div>
      <div class="col-sm-4">
        <img src="https://taling.me/Content/Images/Intro/i7.jpg" class="img-responsive" style="height:250px; width:100%"
          alt="Image">
      </div>
        <div class="col-sm-4">
        <img src="https://d2ljmlcsal6xzo.cloudfront.net/assets/icons/brand_og-ba663d36a81305d2c0ed38e9568b24dcc49ec4d0914eece5c0baa0265815f717.jpg"
          class="img-responsive" style="height:250px; width:100%" alt="Image">
      
        </div>
       

    </div>
  </div><br>
-->
</body>

</html>